include README.md
include LICENSE.md

include docs/conf.py
include docs/Makefile
include docs/make.bat

recursive-include opentabulate/data *
recursive-include docs *.rst
recursive-include docs/_static *
recursive-include docs/_templates *
